<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Los alumnos del A no son muy buenos en AOE11</h1> <br>
    <h2>Los alumnos del A son mas bueno onda que los del B</h2>
  </body>
</html>